extends ../includes/layout

block main-content
    .well
        form.form-horizontal(name="loginForm", method="post")
            fieldset
                legend Login
                .form-group
                    label.col-md-2.control-label(for="username") Username
                    .col-md-10
                        input.form-control(type="text", id="username",
                        placeholder="Потребителско име", name="username", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(type="password", id="password",
                        placeholder="Парола", name="password", required)
                hr
                .pull-right
                    input.btn.btn-primary(type="submit", value="Login")
                    a.btn.btn-primary(href="/") Cancel
