extends ../includes/layout
block main-content
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th Потребителско име
        tbody.users
block page-scripts
    include ../includes/socket-scripts