extends ../includes/layout
block main-content
    .well
        fieldset
            legend Изпращане на файл
            .form-group
                label.col-md-3.control-label(for="comment") ID на потребителя
                .col-md-9
                    input.form-control(type="text", id="comment",
                    placeholder="номер на потребителя който ще получи файла", name="comment")
            .form-group
                label.col-md-3.control-label(for="file-0") Файл
                .col-md-9
                    input.form-control.upload-picture(id="file", type="file")
            .form-group
                div.progress.progress-striped.active.col-md-12
                    div.progress-bar#file-download-progress-bar(style="width: 0%")
            #button-panel
                .pull-right
                    input.btn.btn-primary(type="submit" id="file-send-btn", value="Изпращане")
                    a.btn.btn-primary(href="/") Отказ
block page-scripts
    include ../includes/socket-scripts