ul.nav.navbar-nav.navbar-left
   li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
         | Споделяне на файлове
         span.caret
      ul.dropdown-menu
         li
            a(href="/file-share") Изпрати файл
         li
            a(href="/file-receive") Получаване на файл